<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgrammingArticles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header class="header">
        <nav>
            <div class="container">
                <div class="nav-bar">
                    <h1 class="logo-text">Programming articles</h1>
                    <div class="nav-bar_buttons">
                        <a class="link-button" asp-action="Index" asp-controller="Home">Home</a>
                        <a class="link-button" asp-action="Create" asp-controller="Article">Create article</a>
                        <a class="link-button" asp-action="About" asp-controller="Home">About</a>
                        <a class="link-button" asp-action="MyContact" asp-controller="Home">My contacts</a>
                        <div class="strip"></div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="main-background">
                <div class="content-container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
