<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PArticles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo logo">
                        <a asp-action="Index" asp-controller="Home">
                            <img src="~/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="header-menu__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="header__nav">
                        <a asp-action="Index" asp-controller="Home" class="header__nav-item">
                            <span>Home</span>
                        </a>
                        <a asp-action="Create" asp-controller="Article" class="header__nav-item">
                            <span>Create article</span>
                        </a>
                        <a asp-action="Contacts" asp-controller="Home" class="header__nav-item">
                            <span>Contacts</span>
                        </a>
                        <a asp-action="AboutUs" asp-controller="Home" class="header__nav-item">
                            <span>About Us</span>
                        </a>
                        @{ await Html.RenderPartialAsync("_LoginPartial"); }
                    </nav>
                </div>
            </div>
        </header>
        <section>
            @RenderBody();
        </section>
        <footer>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>