@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Hosting;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IWebHostEnvironment AppEnvironment

@if (SignInManager.IsSignedIn(User))
{
    User user = await UserManager.GetUserAsync(User);

    @*<img class="avatar-img" src="@user?.Avatar?.Path" alt="Avatar">*@

    <form class="form" method="get" asp-action="Info" asp-controller="User">
        <button class="button-img" type="submit" style="background-image: url( @user?.Avatar?.Path )"  />
    </form>

    @*<a class="link-button" asp-controller="User" asp-action="Info" title="Manage">@User.Identity.Name</a>*@
}
else
{
    <a class="link-button" asp-controller="Account" asp-action="Register">Register</a>
    <a class="link-button" asp-controller="Account" asp-action="Login">Login</a>
}