@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    User user = await UserManager.GetUserAsync(User);
    <img class="avatar-img" src="@user?.Avatar?.Path" alt="Avatar" >
    <a class="nav-bar_button button-link" asp-controller="User" asp-action="Info" title="Manage">@User.Identity.Name</a>

    <a ></a>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button class="nav-bar_button button-link" type="submit">Logout</button>
    </form>
}
else
{
    <a class="nav-bar_button button-link" asp-controller="Account" asp-action="Register">Register</a>
    <a class="nav-bar_button button-link" asp-controller="Account" asp-action="Login">Login</a>
}