@model ProgrammingArticles.ViewModels.LoginViewModel

<h2>Login</h2>
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="Remember"></label><br />
        <input asp-for="Remember" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>