* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    color: #000000;
    font-size: 30px;
    letter-spacing: 1px;
}

p {
    font-family: "Open Sans";
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.header {
    width: 100%;
    position: fixed;
    filter: drop-shadow(0px 8px 9px rgba(0,0,0,0.16));
    background: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.logo-text {
    padding-top: 18px;
    font-size: 16px;
    cursor: default;
}

.nav-bar_buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-button {
    font-size: 16px;
    color: #000000;
    font-family: "Montserrat";
    margin-right: 30px;
    text-decoration: none;
}

.link-button:hover {
    color: red;
}

.button {
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: none;
}

.strip {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #000000;
    margin-right: 25px;
}

.avatar-img {
    width: 36px;
    margin-right: 10px;
    border-radius: 100px;
}

.main-background {
    background-color: #f5f5f5;
    height: 100vh;
}

.main-background-index {
    height: 100%;
}

.title {
    font-size: 27px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.content-container {
    padding-top: 85px;
    margin: 0 auto;
    width: 1037px;
}

.flat {
    height: 1px;
    background: black;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.content {
    padding-top: 12px;
}

.tag {
    padding-bottom: 1px;
}

.name{
    font-size: 30px;
}

.description {
    display: block;
    width: 717px;
    height: 91px;
    padding-left: 18px;
    padding-top: 13px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.photo {
    height: 192px;
    width: 224px;
    padding-bottom: 32px;
}

.button-img {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    margin-right: 10px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: auto;
    height: auto;
}